<h3 >user list</h3>

<app-add-user (userAdded)="onUserAdded($event)" ></app-add-user> 
<button class="btn btn-primary ms-2"   (click)="onNameChange()">name change</button>
<button class="btn btn-danger ms-2"   (click)="onUserDelete()">delete user</button>


<app-user *ngFor="let user of users" [user]="user">
  <div >
   <p #userParagraph> Inserting between the component username is:{{user}}</p> 
  </div>
</app-user>
  
<!-- <div *ngIf="!isUserCreated"  >
  no user is created 
</div> -->



<div class="mt-2" appRenderHighlighight  [defaultColor]="'orange'" [highlightColor]="'black'" [selectColor]="'green' "   >
    please add the background color green
</div>

<div class="mt-2" appHighligghtText >
  please add the background color red
</div>


<div>
  <button (click)="isAvailable=!isAvailable" >Toggle</button>
</div>

<div *ngIf="isAvailable">
    structure if
</div>

<ng-template [ngIf]="isAvailable">
  <div>   elemnt if with ng template</div>
</ng-template>


<div  *appAlternateIfdirectives="isAvailable">
  custome structure attribute
</div>


<div    [ngSwitch]="vlaue" >
  {{vlaue}}
  <div *ngSwitchCase="10" > value is 10</div>
  <div *ngSwitchCase="15" > value is 15</div>
  <div *ngSwitchDefault > value is default</div>
</div>

