
<div class="my-2">
    <label>User Name</label>
    <!-- <input type="text" class="form-control"  (input)="onUpdateUser($event)" /> -->
    <input type="text" class="form-control"  [(ngModel)]="userName" />
    <!-- <input type="text" class="form-control"  #userInput /> -->
</div>
<!-- <div> {{userName}} </div> -->

<button class="btn btn-primary"   (click)="onUserAdded()">Add user</button>





<!-- <div> {{allowNewUser}} </div> -->


<!-- <div *ngIf="isUserCreated; else noUser"  >
  user is created and the usernamt is : {{userName}} 
</div>

<ng-template #noUser>
    <div>no user is createdd</div>
  </ng-template> -->
      
              