<div class="container">
  <!-- <div class="row">
    <div class="col-md-12">
      <button (click)="onLogin()"  >login</button>
      <button (click)="onLogout()" >logout</button>
    </div>
  </div> -->


  <div class="row">
    <div class="col-md-3">
    <app-navigation></app-navigation>
    </div>



    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">

          <div *ngIf="userAdded">
            user added button click
          </div>
          
            <router-outlet> </router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>





  

          

<!-- <div class="container">
  <div class="row my-3">
    <div class="col-md-12">
      <app-add-user-for-services></app-add-user-for-services>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-12">

        ----basic directory and attribute and all this thing
  
      <app-users ></app-users>

        ----used for service 

      <app-users-list-services *ngFor="let user of users; let i=index   "  [user]="user"  [id]="i"  ></app-users-list-services>
    </div>
  </div>
</div> -->
